@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.big {
  top: -45px;
  left: -45px;
  width: calc(100% + 90px);
  height: calc(100% + 90px);
  border-radius: 50%;
  z-index: -2;
  background: rgba(100, 116, 139, 0.3);
}

.bigger {
  top: -90px;
  left: -90px;
  width: calc(100% + 180px);
  height: calc(100% + 180px);
  border-radius: 50%;
  z-index: -2;
  background: rgba(100, 116, 139, 0.2);
}

.biggest {
  top: -135px;
  left: -135px;
  width: calc(100% + 270px);
  height: calc(100% + 270px);
  border-radius: 50%;
  z-index: -2;
  background: rgba(100, 116, 139, 0.1);
}
